<div class="divider"></div>

<!-- SEARCH INTERFACE -->
<div class="search">
<label for="food-search"> Search for: &nbsp; &nbsp; </label>
<input type="text" [(ngModel)]="foodSearch" name="foodSearch" id="food-search" placeholder="Lamburger">
</div>
<!-- SEARCH INTERFACE -->

<!-- DISPLAY INTERFACE -->
<div class="food-container">
<ul *ngFor="let food of (foods | search:foodSearch)" class="flex-list">
  <div class="food-card">
    <img [src]='food.image' class="smallified">
    <div class="food-stats-label">Name:     {{ food.name     }}</div>
    <div class="food-stats-label">Calories: {{ food.calories | search }}</div>
    <div class="food-stats-label rounded-bottom">Quantity: {{ food.quantity }}</div>
  </div>
</ul>
</div>
<!-- DISPLAY INTERFACE -->

<div class="divider"></div>

Don't see what you're looking for? Try <a href="#"> adding </a> to the list.
