
<div class="divider"></div>


<!-- SEARCH AND ADD -->
<div class="choice">
  <button [ngStyle]="{color: searchButton}" class="choice-text" (click)="toggleSearch()">Search</button>
<div class="or"> or </div>
  <button [ngStyle]="{color: addButton}" class="choice-text" (click)="toggleAddForm()">Add</button>
</div>
<!-- SEARCH AND ADD -->

<!-- ADD FORM -->
<div [ngStyle]="{ display: addIsVisible }" class="add-form">

<div class='add-form-container'>
  <div class="labels">
  <label class="add-form-labels" for="add-name"> Name: </label>
  <label class="add-form-labels" for="add-calories"> Calories: </label>
  <label class="add-form-labels" for="add-image"> Image: </label>
  </div>

  <div class="inputs">
  <input type="text"   class="add-form-inputs" id="add-name"     placeholder="Ambrosia..."
    [(ngModel)]="newFood.name">
  <input type="number" class="add-form-inputs" id="add-calories" placeholder="50"
    [(ngModel)]="newFood.calories">
  <input type="text"   class="add-form-inputs" id="add-image"    placeholder="http://..."
    [(ngModel)]="newFood.image">
  </div>
</div>

<div class="align-to-bottom">
  <button (click)="addNewFood()" class="add-to-foods-list"> Add </button>
</div>

</div>
<!--ADD FORM -->

<!-- SEARCH INTERFACE -->
<div [ngStyle]="{ display: searchIsVisible }" class="search">
<label for="food-search"> Search for: &nbsp; &nbsp; </label>
<input type="text" [(ngModel)]="foodSearch" name="foodSearch" id="food-search" placeholder="Lamburger">
</div>
<!-- SEARCH INTERFACE -->

<!-- DISPLAY INTERFACE -->
<div class="food-container">
<ul *ngFor="let food of (foods | search:foodSearch)" class="flex-list">
  <div class="food-card">
    <img [src]='food.image' class="smallified">
    <div class="food-stats-label">Name:     {{ food.name     }}</div>
    <div class="food-stats-label">Calories: {{ food.calories | search }}</div>
    <div class="food-stats-label rounded-bottom">Quantity: {{ food.quantity }}</div>
  </div>
</ul>
</div>
<!-- DISPLAY INTERFACE -->

<div class="divider"></div>
<footer>
Don't see what you're looking for? Try <button class="soft-button"> &nbsp; adding &nbsp; </button> it to the list.
</footer>
